body {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
}

.pismo {
    font-family: 'Open Sans', monospace;
    color: white;
}

header {
    background-color: black;
    padding-bottom: 10px;
    border: 0px;
}

img.resize {
    height: 600px;
    width: auto;
    
}

/*patička*/
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; 
    background: black;
}
   /* tlacitka z prava do leva*/

.tlacitko {
    border-color: #000000;
    color: #ffff;
    background-image: -webkit-linear-gradient(45deg, #3e3e3e 50%, transparent 50%);
    background-color: black;
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    font-size: 125%;
    font-family: Open sans, monospace;
    font-style: bold;
}

    .tlacitko:hover {
        background-position: 0;
    }

    /*navigace*/

#navigace {
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.odkaz1 {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    opacity: 1;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    li a:hover {
        background-color: #111;
    }
/*Kapela hover*/
.container {
    position: relative;
    height: 100px;
    width: 100px;
    padding-right: 80px;
    padding-bottom: 80px;
}

.image {
    display: block;
    width: 165px;
    height: auto;
    
    
}

    .image:hover {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: .5s ease;

    }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 80px;
    height: 165px;
    width: 165px;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    filter: none;
    -webkit-filter: none;
    opacity: 1;
}

/*galerie začátek*/

div.gallery {
    margin: 5px;
    
    float: left;
    width: 180px;
}

    div.gallery:hover {
       
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

div.desc {
    padding: 15px;
    text-align: center;
}

/*fotogalerie hover 2*/
.container2 {
    position: relative;
    height: auto;
    width: 300px;
    padding-right: 120px;
    
}

.image2 {
    display: block;
    width: 300px;
    height: auto;
}

    .image2:hover {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: .5s ease;
    }

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    height: 200px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.container2:hover .overlay2 {
    opacity: 1;
}

.text2 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    filter: none;
    -webkit-filter: none;
    opacity: 1;
}

/*fotogalerie stranka*/
.galerietitle {
    color: white;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px
}
/*fotky title (světluška, humpolec a ?)*/
.fotkytitle {
    color: white;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px
}

.title1 {
    color: white;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px
}

/*kapela stranka*/

.kapela {
    color: white;
    font-weight: bold;
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px
}

/*ke stazeni*/
.repertoar {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px 15px;
    opacity: 1;
}

.content {
    animation: contentfade 1s;
    animation-fill-mode: forwards;
}


/*fade efekt*/
@keyframes contentfade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.content2 {
    animation: contentfade2 2s;
    animation-fill-mode: forwards;
}

@keyframes contentfade2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.profily{
    height: 550px;
}

.jmena {
    font-size: 30px;
    font-weight: bold;
}

.textlidi {
    font-size: 18px;
}

/*fotogalerie*/

#reference img {
    border: 1px solid gray;
    padding: 6px;
    box-shadow: 3px 3px 6px #999999;
    margin-right: 6px;
    
    
    
}